
.container-cart {
  margin: 1rem auto;
  position: absolute;
  right: 30rem;
  top: 2rem;
  padding: 90px;
  background-color: hsl(0, 0%, 100%);
}

.container-cart button {
  border: none;
}

.container-item {
  width: 300px;
  font-size: 20px;
}


.container-cart > h2 {
  font-size: 2rem;
  color: hsl(14, 86%, 42%);
  margin-bottom: 1rem;
  position: relative;
  left: -2rem;
  top: -2rem;
} 

.container-cart h1 {
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  font-size: 20px;
}


.cart-item {
  border-bottom: 2px solid hsl(14, 25%, 72%);
  padding-bottom: 9px;
}


.container-cart h6 {
  font-size: 15px;
  font-weight: lighter;
  padding: 1rem;
  margin: 2em 0 2em;
  border-radius: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container-cart {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5rem;
    margin: 2rem;
  }
  .cart .price {
    float: left;
  }
  .container-cart h6 {
    margin: 2em 0 2em 0;
    width: 12rem;
  }
  .container-cart button {
    width: 11rem;
  }
}

.minus, .plus {
  background-color: hsl(14, 86%, 42%);
  color: hsl(0, 0%, 100%);
}

.qty {
  background-color: hsl(14, 86%, 42%);
}

.quantity {
  color: hsl(14, 86%, 42%);
  font-weight: bold;
}

.prices {
  color: hsl(14, 25%, 72%);
}

.total {
  color:hsl(7, 20%, 60%);
}

.cart-item-info {
  float: right;
}


.total-prices {
  display: flex;
  justify-content: space-between;
  margin: 2em 0 2em 0;
}

.empty-image {
  margin: 2em;
}

.total-prices span {
  font-weight: bold;
}
.button-confirm {
  width: 300px;
  
}


