* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RedHatText";
}

body {
  background-color: hsl(13, 31%, 94%);
}

@font-face {
  font-family: "RedHatText";
  src: url('../assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype-variations');
}

.App {
  margin: 5rem;
}


